fastapi
uvicorn[standard]
python-multipart
qdrant-client
minio
openai
transformers
torch
nibabel
pyradiomics
scikit-learn
pandas
openpyxl
pydantic-settings
eval_type_backport
python-dotenv
SimpleITK
Pillow
